@font-face {
  font-family: Outfit;
  src: url(/Outfit-Regular.ttf)
}

@font-face {
  font-family: Outfit;
  src: url(/Outfit-Bold.ttf);
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: hsl(212, 45%, 89%);
}

.card {
  padding: 1rem;
  border-radius: 20px;
  max-width: 300px;
  background-color: hsl(0, 0%, 100%)
}

.card h1 {
  font-family: Outfit;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);

  padding-inline: 7px;
  margin-bottom: 15px;
}

.card p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);

  padding-inline: 8px;
  margin-bottom: 20px;
}

.qrCode {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile */
/* @media (max-width: 375px) {
  .card {
    padding: 1rem 2.5rem;
  }

  .card h1 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }
} */

